body {
  margin: 0;
}

h2 {
  text-align: center;
}

body > div {
  display: block;
  width: 600px;      
  margin: 50px auto;
  padding: 0 10px;
  border: 1px solid black;
  border-radius: 3px;
}

label:not([for="person"]) {
  display: inline-block;
  width: 100px;
}

input:not([type="checkbox"]){
  width: 180px;
  margin-bottom: 2px;
}

input:not([type="file"]):not([type="submit"]) {
  border: 1px solid black;
}

input:not([type="file"]):not([type="submit"]):focus, textarea:focus {
  background: #ffffbb;
  border-width: 2px;
}

label[required]::after {
  content: "*";
}

textarea {
  width: 176px;
  border: 1px solid black;
}

input[type="submit"] {
  width: 200px;
}

p {
  padding-top: 10px;
  text-align: center;
  clear: both;
}

.info {
  display: inline-block;
}

.photo {
  float: right;
}

.photo img {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 6px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* custom checkbox */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]~img {
  display: none;
  position: relative;
  top: 7px;
}

input[type="checkbox"]:checked~img[checked] {
  display: inline;
}

input[type="checkbox"]:not(:checked)~img:not([checked]) {
  display: inline;
}