.main {
  display: block;
  width: 900px;
  margin: auto;
  padding: 0;
  border: solid 1px black;
}

header {
  background: black;
}

.logo {
  padding: 15px 15px 29px 15px;
  color: white;
  font-size: 200%;
  font-weight: bold;
  text-decoration: none;
}

.mainmenu {
  display: inline-block;
  list-style: none;
}

.mainmenu-item {
  display: inline-block;
  width: 54px;
  margin-right: 20px;
  padding: 5px 10px;
  background: white;
  border-radius: 6px;
  text-align: center;
}

.mainmenu-item img {
  width: 48px;
  vertical-align: middle;
}

aside {
  float: left;
  border-right: 1px solid black;
}