body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 118px;
  font-size: 0;
  background-image: linear-gradient(to top, #e0e0e0 0%, #ffffff 100%);
}

footer {
  height: 75px;
  padding: 0 150px;
  color: #8b8a8a;
  font-size: 17px;
  font-weight: 400;
  text-align: right;

}

h2 {
  color: #565555;
  text-align: center;
}

.bar {
  width: 1030px;
  margin: auto;
}

.logo {
  display: inline-block;
  margin: 0 35px;
  vertical-align: top;
  /* width: 592px;   */
  line-height: 118px;
  text-align: center;  
}

.logo img {
  vertical-align: middle;
}

ul.menu {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin: 0 0 0 215px;
  padding: 0;  
}
ul.menu > li {
  display: inline-block;
  width: 108px;
  height: 118px;
}

li > a {
  display: table-cell;
  width: 108px;
  height: 118px;  
  text-align: center;
  vertical-align: middle;  
  text-decoration: none;
}

ul.menu > li:hover {
  box-sizing: border-box;
  border-bottom: 5px solid #FF7D00;
  background-image: linear-gradient(to top, #c9c0c0 0%, #ffffff 100%);
}

ul.menu > li.divider {
  width: 1px;
  background: #545454;
  opacity: 0.11;  
}

.menu-title {
  display: inline-block;
  margin-top: 10px;
  color: #545454;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 1px 0 #ffffff; 
}

main {
  padding-top: 15px;
}

#fieldImage {
  width: 675px;
  margin: auto;
  padding: 5px;
  font-size: 0;
}

#selectImage {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 445px;
  height: 47px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 85%, #ffffff 90%, #e2dada 100%);
}
#nameImage {
  padding: 0 5px;
  color: #565555;
  font-size: 24px;
  line-height: 47px;
}

#browseFile {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: 10px;
  width: 92px;
  height: 32px;
  border-radius: 5px;
  background-color: #969292;
  opacity: 0.59;  
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  line-height: 32px;
}

#uploadImage {
  vertical-align: top;
  width: 210px;
  height: 47px;
  border: 0;
  border-radius: 5px;
  background-image: linear-gradient(to top, #ff6600 0%, #ffa400 100%);
  margin-left: 15px;
  color: #ffffff;  
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

#gridImages {
  width: 1030px;
  margin: 53px auto 45px auto;
  font-size: 0;
  text-align: center;  
}

.cellImage {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 218px;
  height: 279px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(253, 254, 255, 0.1) 5%, rgba(255, 255, 255, 0.1) 100%);
  margin: 15px 19px;
  padding: 7px;
  text-align: initial;
  color: #979393;
  font-size: 15px;
  font-weight: 400;
}

.box-image {
  position: relative;
}

.box-image + img {
  width: 202px;
  height: 197px;
}

.box-image > .date-image {
  width: 77px;
  height: 14px;
  position: absolute;
  bottom: 10px;
  left: 8px;  
  z-index: 99;
}

.box-image .zoomup-image {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px 0 0 -13px;
  z-index: -1;
}

.box-image:hover .zoomup-image {
  z-index: 1000;
}

.description-image {
  padding: 6px 3px;
  text-align: right;
}

.description-image > span {  
  margin-right: 16px;
}

.description-image img {
  width: 22px;
  height: 22px;  
  vertical-align: middle;
}

.share-image {
  padding: 6px 3px;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: right;
}

.share-image > span {
  margin-right: 7px;
  font-size: 14px;
}

.share-image a {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;  
  background: url(../img/icon/bg-icon.png);
  vertical-align: middle;
}

.share-image a:hover{  
  background: url(../img/icon/bg-social-active.png);
}

.share-image a img {
  position: absolute;  
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -4px;
}

.share-image a img.icon-pinterest {
  margin-left: -6px;
}

.share-image a {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 22px;  
  background: url(../img/icon/bg-icon.png);
  vertical-align: middle;
}

.share-image a .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  font-size: 13px;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  position: absolute;
  z-index: 100;
  top: 135%;
  left: 50%;
  margin-left: -24px;
}

.share-image a .tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.share-image a:hover .tooltip {
  visibility: visible;
}