body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  max-width: 1366px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#toggle-menu {
  display: none;
}

.menu-icon {
  display: none;
  position: relative;
  width: 42px;
  height: 42px;
  margin: 1px;
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    #191919,
    #191919 3px,
    transparent 3px,
    transparent 6px,
    #191919 6px,
    #191919 9px,
    transparent 9px,
    transparent 12px,
    #191919 12px
  );
  background-position: center center;
  background-size: 24px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 999;
}

.menu-icon:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

#toggle-menu:checked + .menu {
  /* width: 168px; */
  height: 170px;
  transition: 0.5s ease-in-out;
}

#toggle-menu:checked + .menu li {
  display: block;
}

#toggle-menu:checked ~ label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  display: inline-block;
  padding: 40px 15px;
}

.menu a {
  color: #191919;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.menu a:hover {
  color: #10c9c3;
}

.menu .social {
  display: none;
  padding: 10px 0;
  text-align: center;
}

.menu .social .fab {
  transition: color 0.2s ease-in-out;
}

.fa-facebook:hover {
  color: rgba(61, 90, 153, 0.8);
}

.fa-twitter:hover {
  color: rgba(29, 161, 242, 0.8);
}

.fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.fa-dribbble:hover {
  color: rgba(223, 62, 123, 0.8);
}

main {
  max-width: 1366px;
  margin: auto;
  background: #f5f5f5;
}

.description {
  padding: 95px 10px;
  opacity: 0.8;
}

.description.about {
  background-color: #141414;
  color: #fff;
}

.description.home {
  background-color: #f6f6f6;
  color: #787878;
}

.description h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
}

.description.home h1 {
  color: #171717;
}

.description p {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.3px;
}

.indicators {
  padding: 95px 0;
  background-color: #10c9c3;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
}

.indicator {
  display: inline-block;
  width: 100%;
  max-width: 255px;
  margin-left: 10px;
  text-align: left;
}

.indicator img {
  vertical-align: text-bottom;
}

.indicator > div {
  display: inline-block;
  margin-left: 15px;
  line-height: 24px;
}

.indicator-count {
  font-size: 18px;
  letter-spacing: initial;
}

.about-me {
  position: relative;
}

.column-1 {
  float: left;
  width: 50%;
  box-sizing: border-box;
  background: #fff;
  font-size: 0;
  text-align: center;
}

.column-1 img {
  width: 100%;
  max-width: 573px;
}

.column-2 {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding: 135px 20px 135px 85px;
}

.column-2 > h2,
.lets-talk h2 {
  margin: 0;
  color: #191919;
  font-size: 30px;
  font-weight: bold;
}

.column-2 > p,
.lets-talk p {
  margin: 25px 0;
  font-family: 'Nunito Sans', sans-serif;
  color: #787878;
  line-height: 24px;
  font-size: 16px;
}

.column-2 > img {
  width: 100%;
  max-width: 223px;
  margin-top: 10px;
}

.lets-talk {
  clear: both;
  padding: 100px 10px;
  background: #fff;
  text-align: center;
}

.button {
  display: inline-block;
  width: 180px;
  height: 54px;
  margin-top: 10px;
  background-color: #10c9c3;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 54px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 900px;
  margin: auto;
}

.card {
  width: 25%;
  height: 300px;
  position: relative;
}

.card > img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card:hover::before {
  content: url(../img/look.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1200;
}

.card:hover::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(16, 201, 195, 0.7),
    rgba(16, 201, 195, 0.7)
  );
}

.cards .card:nth-child(odd) {
  background-color: #838383;
}

.cards .card:nth-child(even) {
  background-color: #dddddd;
}

.contact {
  padding: 100px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #787878;
}

.contact-info-description {
  width: 32%;
}

.contact-info-description h2 {
  margin: 0;
  color: #171717;
  font-size: 30px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.3px;
}

.contact-info-description p {
  margin: 1rem 0;
}

.contact-info-description a {
  color: inherit;
}

.contact-info-description p > span {
  color: #171717;
  font-weight: 700;
}

.contact-info-description p > span {
  color: #171717;
  font-weight: 700;
}

.contact-info-form {
  width: 58%;
  box-sizing: border-box;
  margin-left: auto;
}

.contact-info-form > div + div {
  margin-top: 30px;
}

.contact-info-form > div:first-child {
  display: flex;
  justify-content: space-between;
}

.contact-info-form input[name='name'],
.contact-info-form input[name='email'] {
  width: 48%;
}

.contact-info-form input[name='title'] {
  width: 100%;
}

.contact-info-form input,
.contact-info-form textarea {
  border: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 15px;
  line-height: 24px;
}

.contact-info-form input {
  height: 48px;
}

.contact-info-form textarea {
  width: 100%;
  height: 170px;
  resize: none;
}

#submit {
  height: 48px;
  margin-top: 30px;
  font-size: 12px;
}

#map {
  width: 100%;
  height: 470px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 95px 5%;
  background-color: #141414;
  font-family: 'Nunito Sans', sans-serif;
  color: #bcbcbc;
  font-size: 15px;
  line-height: 24px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: #10c9c3;
}

footer p {
  margin: 0;
}

footer > div {
  width: 25%;
}

footer > div,
footer ul {
  padding: 0 5px;
}

footer ul {
  margin: 0;
  list-style: none;
}

footer ul:nth-last-of-type(2) {
  width: 15%;
}

footer .copyright p:first-child {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .about-me .column-2 {
    padding: 50px 20px;
  }

  .contact {
    padding: 50px;
  }

  .contact-info {
    margin-bottom: 50px;
  }

  .contact-info-description {
    font-size: 14px;
  }

  .contact-info-description h2 {
    font-size: 24px;
  }
}

@media (max-width: 750px) {
  .cards {
    max-height: 1800px;
  }

  .card {
    width: 50%;
  }

  .cards .card:nth-child(odd) {
    background-color: #838383;
  }

  .cards .card:nth-child(even) {
    background-color: #dddddd;
  }

  .cards .card:nth-child(2n + 8) {
    background-color: #838383;
  }

  .cards .card:nth-child(2n + 7) {
    background-color: #dddddd;
  }

  footer ul:nth-last-of-type(2) {
    width: auto;
  }

  footer {
    font-size: 0.85em;
  }
}

@media (min-width: 576px) {
  #toggle-menu:checked + .menu {
    height: auto;
  }

  #toggle-menu:checked + .menu > li {
    display: inline-block;
  }

  #toggle-menu:checked + .menu > .social {
    display: none;
  }
}

@media (max-width: 575px) {
  header {
    padding: 0 40px;
  }

  .menu-icon {
    display: inline-block;
  }

  .menu {
    height: 0;
    position: absolute;
    top: 48px;
    right: 0;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    background-color: #fff;
    z-index: 999;
  }

  .menu > li {
    display: none;
    margin: 0 20px;
    padding: 10px 30px;
  }

  .menu > li + li {
    border-top: 1px solid #191919;
  }

  .description {
    padding: 75px 10px;
  }

  .indicators {
    padding: 50px 0;
  }

  .about-me .column-1,
  .about-me .column-2 {
    float: none;
    width: auto;
  }

  .about-me .column-2 {
    padding: 50px 10px;
  }

  .about-me .column-2 h2 {
    text-align: center;
  }

  .lets-talk {
    padding: 50px 10px;
  }

  .contact-info {
    display: block;
  }

  .contact-info-description,
  .contact-info-form {
    width: 100%;
  }

  footer {
    padding: 50px 10px;
    font-size: 0.75em;
  }

  footer .copyright p:first-child {
    font-size: 1em;
  }

  .footer-social {
    display: none;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 25px;
  }

  footer {
    display: block;
    padding: 25px 10px;
    text-align: center;
  }

  footer > div,
  footer ul {
    display: block;
    width: auto;
    padding: 3px 0;
  }
}

@media (max-width: 400px) {
  header {
    padding: 0 20px;
  }

  .description {
    padding: 50px 10px;
  }

  .description h1 {
    font-size: 2em;
  }

  .description p {
    font-size: 1em;
  }

  .indicators {
    padding: 25px 0;
  }

  .about-me .column-1 {
    float: none;
    width: auto;
  }

  .about-me .column-2 {
    float: none;
    width: auto;
    padding: 25px 10px;
  }

  .lets-talk {
    padding: 25px 10px;
  }

  .lets-talk h2 {
    font-size: 1.5em;
  }

  .lets-talk p {
    font-size: 1em;
  }

  .cards {
    max-height: 100%;
  }

  .card {
    width: 100%;
  }

  .cards .card:nth-child(odd) {
    background-color: #838383;
  }

  .cards .card:nth-child(even) {
    background-color: #dddddd;
  }

  .contact-info-form > div + div {
    margin-top: 15px;
  }

  .contact-info-form input {
    height: 36px;
  }

  .contact-info-form textarea {
    height: 130px;
  }

  #submit {
    margin-top: 15px;
  }
}
